# Composer dependency
composer.phar
composer.lock
/vendor/

# PHP Unit Cache
.phpunit.result.cache

# Visual Studio Code Configs
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/

# PHP Unit Code Coverage Report
/cov/

# Response Cache
/cache/

# Git directory
/.git/

# Docker file build configuration
Dockerfile

# Node.js modules
/node_modules/
