# Composer dependency
composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# PHP Unit Cache
.phpunit.result.cache

# Visual Studio Code Configs
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/

# PHP Unit Code Coverage Report
/cov/

# Response Cache
/cache/

# Node.js modules
/node_modules/
